<?xml version="1.0"?>

<model>
  <name>Surface Mine</name>
  <version>1.0</version>
  <sdf version="1.5">surface_mine.sdf</sdf>

  <author>
    <name>Francisco Miguel Moreno</name>
    <email>franmore@ing.uc3m.es</email>
  </author>

  <description>
    Minesweepers surface mine.
  </description>
</model>
