<?xml version="1.0"?>

<model>
  <name>Polvoranca Heightmap</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Francisco Miguel Moreno</name>
    <email>franmore@ing.uc3m.es</email>
  </author>

  <description>
    Uneven terrain from Polvoranca park.
  </description>
</model>
